<div class="row">
  <div class="col-sm-2">
      <div class="thumbnail linkedinpicture">
          <img src="{{pictureUrl}}" alt="picture">
      </div>
  </div>
  <div class="col-sm-10">
      <h1>{{firstName}} {{lastName}} <small>{{headline}}</small></h1>
  </div>
</div>