extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 LinkedIn
  a(href="/login")
      img(src="https://developer.linkedin.com/sites/default/files/js-signin.png")

  h2 This is